<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.UserMapper">

    <insert id="insertUser">
        insert into t_user value(null,'admin','123456',23,'男','123456@qq.com')
    </insert>
    <update id="updateUser">
        update t_user set username='root' where id=1002;
    </update>
    <delete id="deleteUser">
        delete from t_user where id=1003;
    </delete>
    <!--resultType设置结果返回类型,resultMap自定义映射,处理一对多或者多对一的映射关系-->
    <select id="selectUserById" resultType="org.example.com.zjw.pojo.User">
        select * from t_user where id=1002;
    </select>
    <select id="selectAllUser" resultType="org.example.com.zjw.pojo.User">
        select * from t_user
    </select>
</mapper>
